# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

playcm/logs
playcm/project/project
playcm/project/target
playcm/target
playcm/tmp
playcm/.history
playcm/dist
playcm/.idea
playcm/*.iml
playcm/out
playcm/.idea_modules
playcm/.classpath
playcm/.project
playcm/RUNNING_PID
playcm/.settings
