@(blogposts: List[BlogPost], users: List[User], blogpostForm: Form[(String, String)])(implicit session: Session)
@import helper._

@main("Blogpost list") {

     <h1>Users</h1>
    <ul>
        @users.map { user =>
            <li>
                @user.username <br/>
                @user.password
            </li>
        }
    </ul>

    <h1>@blogposts.size blogpost(s)</h1>
    <ul>
        @blogposts.map { blogpost =>
            <li title="@blogpost.content">
                @blogpost.title

                @form(routes.Application.deleteBlogpost(blogpost.id)) {
                    <input type="submit" value="Delete" />
                }
            </li>
       }
    </ul>



}