@(title: String)(content: Html)(implicit session: Session)
@import helper._
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    @session.get("username").map {user =>
                        <li><a href="@routes.Application.newBlogpost">New blogpost</a></li>
                        <li>Welcome @user</li>
                        <li><a href="@routes.Authentication.logout">Logout</a></li>
                    }.getOrElse{
                        <li><a href="@routes.Authentication.login">Login</a></li>
                    }
                </ul>
            </nav>
        </header>
        @content
    </body>
</html>
